[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
default-storage-engine=INNODB
explicit-defaults-for-timestamp=1

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8

# Path to the database root
innodb_buffer_pool_size=16
innodb_log_file_size=100M

# Cache type (0:off 1: ON without SQL_NO_CACHE, 2 DEMAND SELECT only SQL_CACHE)
query_cache_limit=16M
query_cache_size=512M
query_cache_type=1
max_allowed_packet=1G