[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
sqlalchemy = "*"
fastapi = "*"
alembic = "*"
sqlalchemy-utils = "*"
requests = "*"
sqlmodel = "*"
uvicorn = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
orjson = "*"
python-multipart = "*"
mysqlclient = "*"

[dev-packages]
black = "*"
flake8 = "*"
pyproject-flake8 = "*"
mypy = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
